{# src/SD/CoreBundle/Resources/views/Booking/create.one.html.twig #}

{% extends "SDCoreBundle:Booking:booking.html.twig" %}

{% block booking_details %}
{% set vars = {'period_end': 'sd_core_booking_one_end_period_create', 'userFiles_path': 'sd_core_booking_one_user_files_create'} %}
{% include 'SDCoreBundle:Booking:create.html.twig' with vars %}
{% endblock %}

{% block booking_buttons %}
	<a href="{{ path('sd_core_planning_one_timetable', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'date': date|date('Ymd') }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
	<a href="{{ path('sd_core_booking_one_validate_create', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'timetableLinesList': timetableLinesList, 'userFileIDList': userFileIDList }) }}" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>&nbsp;{{ 'validate'|trans }}</a>
{% endblock %}
