{# src/SD/CoreBundle/Resources/views/Booking/period.end.create.one.html.twig #}

{% extends "SDCoreBundle:Booking:booking.html.twig" %}

{% block booking_details %}
{{ include("SDCoreBundle:Booking:period.end.html.twig") }}
{% endblock %}

{% block booking_buttons %}
	<a href="{{ path('sd_core_booking_one_create', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'date': date|date('Ymd'), 'timetableLinesList': timetableLinesList }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
{% endblock %}
