{# src/SD/CoreBundle/Resources/views/Resource/index.html.twig #}

{% extends "SDCoreBundle::list-layout.html.twig" %}

{% block title %}{{ parent() }} resource{% endblock %}

{% block listRow %}
<div class="row">

La liste des ressources

</div>
{% endblock %}
